## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
Schematica_Client.launch
Schematica_Server.launch

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
